<footer>
  <div class="container-fluid">
    <div class="container pt-5 d-flex flex-column justify-content-between">
      <div class="row">
        <div class="col-2">
          <img src="../../../assets/img/logo-footer.png" alt="" />
        </div>
        <div class="col-10 d-flex justify-content-end align-items-center">
          <div class="box">
            <ul class="list-unstyled">
              <li><a href="#trabajos">Trabajos</a></li>
              <li><a href="#aboutus">Quienes somos</a></li>
              <li>
                <a
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                  >Contacto</a
                >
              </li>
            </ul>
          </div>
          <div class="box">
            <ul class="list-unstyled">
              <li><a href="#trabajos">contacto@pintagonzalo.cl</a></li>
              <li><a href="tel:+56945888215">T: +56 94588 8215</a></li>
              <li>
                <a href="">
                  <img src="../../../assets/img/ico-inst-footer.svg" alt="" />
                </a>
                <a href="">
                  <img src="../../../assets/img/ico-wsp-footer.svg" alt="" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row text-center py-2 bajada">
        <div class="col-12">Hecho con <3 por Francisco Loyola</div>
      </div>
    </div>
  </div>
</footer>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
