<div class="container-fluid">
  <div class="row p-0">
    <div class="col-12 p-0">
      <app-header-admin></app-header-admin>
      <div class="content">
        <form
          [formGroup]="formReg"
          (ngSubmit)="onSubmit()"
          class="mx-auto"
          style="width: 600px"
        >
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email" />
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
            />
          </div>
          <input type="submit" value="Enviar" />
        </form>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
