<section class="container valores pb-5 mb-5">
  <div class="row">
    <h4 class="title my-5">Valores que nos caracterizan</h4>
  </div>
  <div class="row mt-5">
    <div
      class="col-3 d-flex flex-column justify-content-center align-items-center"
    >
      <img src="../../../assets/img/verified.svg" alt="" />
      <h3>Calidad del trabajo</h3>
    </div>
    <div
      class="col-3 d-flex flex-column justify-content-center align-items-center"
    >
      <img src="../../../assets/img/dolar.svg" alt="" />
      <h3>Eficiencia en costos</h3>
    </div>
    <div
      class="col-3 d-flex flex-column justify-content-center align-items-center"
    >
      <img src="../../../assets/img/alarm.svg" alt="" />
      <h3>Cumplimiento de plazos</h3>
    </div>
    <div
      class="col-3 d-flex flex-column justify-content-center align-items-center"
    >
      <img src="../../../assets/img/happy-face.svg" alt="" />
      <h3>Clientes Felices</h3>
    </div>
  </div>
</section>
